{% extends "layout.html" %}

{% load static %}

{% block title %}
  All Products
{% endblock title %}

{% block content %}
<div class="bootstrap-tabs product-tabs">
    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
      <h2>All Products</h2>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all">All</a>
          <!-- <a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab" data-bs-toggle="tab" data-bs-target="#nav-fruits">In-Stock</a> -->
          <!-- <a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab" data-bs-toggle="tab" data-bs-target="#nav-juices">Upcomming</a> -->
        </div>
      </nav>
    </div>
    {% for product in products %}
        <div class="product-container">
            <div class="image-container">
                <img src="{{ product.image.url }}" alt="Product Image" class="centered-image">
            </div>
            
            <div class="product-info">
                <h2>{{ product.title }}</h2>
                <p><span class="striked-price">TK.{{ product.selling_price }}</span></p>
                <p>TK.{{ product.discounted_price }}</p>
                <button class="btn add-to-cart">Add to Cart</button>
                <p>{{ product.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}