<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>
        Login
      </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'user/css/login_or_signup.css' %}">
    <style>
        .main-logo img {
            max-width: 100px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
        <div class="main-logo">
          <a href="/">
            <img src="{% static 'base/images/stuffs_deal_logo-removebg.png' %}" alt="logo" class="img-fluid">
          </a>
        </div>
      </div>

    <div id="container" class="container">
        <!-- FORM SECTION -->
        <div class="row">
            <!-- SIGN UP -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">
                        <form method="POST" action="{% url 'login_signup' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>
                            <div class="input-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" name="confirm_password" placeholder="Confirm password" required>
                            </div>
                            <button type="submit" name="signup">Sign up</button>
                        </form>
                        
                        {% if messages %}
                            {% for message in messages %}
                                <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    
                        <p>
                            <span>Already have an account?</span>
                            <b onclick="toggle()" class="pointer">Sign in here</b>
                        </p>
                    </div>
                    
                </div>
            
            </div>
            <!-- END SIGN UP -->
            <!-- SIGN IN -->
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">
                        <form method="POST" action="{% url 'login_signup' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" name="password" placeholder="Password" required>
                            </div>
                            <button type="submit" name="signin">Sign in</button>
                        </form>
                        
                        {% if messages %}
                            {% for message in messages %}
                                <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    
                        <p>
                            <b>Forgot password?</b>
                        </p>
                        <p>
                            <span>Don't have an account?</span>
                            <b onclick="toggle()" class="pointer">Sign up here</b>
                        </p>
                    </div>
                    
                </div>
                <div class="form-wrapper">
        
                </div>
            </div>
            <!-- END SIGN IN -->
        </div>
        <!-- END FORM SECTION -->
        <!-- CONTENT SECTION -->
        <div class="row content-row">
            <!-- SIGN IN CONTENT -->
            <div class="col align-items-center flex-col">
                <div class="text sign-in">
                    <h2>
                        Welcome
                    </h2>
    
                </div>
                <div class="img sign-in">
        
                </div>
            </div>
            <!-- END SIGN IN CONTENT -->
            <div class="col align-items-center flex-col">
                <div class="img sign-up">
                
                </div>
                <div class="text sign-up">
                    <h2>
                        Join with us
                    </h2>
                </div>

                
            </div>
            <!-- SIGN UP CONTENT -->
        </div>
        <!-- END CONTENT SECTION -->
    </div>
    <script src="{% static 'user/js/login_or_signup.js' %}"></script>
</body>
</html>
