{% extends "layout.html" %}

{% load static %}
{% load category %}
{% block title %}
    Checkout
{% endblock title %}


{% block content %}
<body>
    <div class="container">
        <div class="form-container bg-white">
            <h2 class="mb-4 text-center">Billing Address</h2>
            
            <form method="post" novalidate>
                {% csrf_token %}
                {{ billing_address.as_p }} 
               
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Save Address</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
