{% extends "layout.html" %}

{% load static %}
{% load category %}
{% block title %}
    Checkout
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="form-container bg-white">
            <h2 class="mb-4 text-center">Billing Address</h2>
            
            <form method="post" >
                {% csrf_token %}
                {{ billing_address.as_p }} 
               
                <div class="d-grid">
                    <a><button type="submit" class="btn btn-primary btn-lg">Save Address</button></a>
                    <a href = "{% url 'payment:payment_opts' %}" ><button type="button" class="btn btn-primary btn-lg">To Payment</button></a>

                </div>
            </form>
        </div>
    </div>
{% endblock content %}
